/* --- Base styles --- */

#video-container {
  width: 100%;
  margin-bottom: 25px;
  max-width: 900px;

  @media (min-width: 768px) {
    width: 80%;
    margin: 25px auto 25px auto;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;

  @media (min-width: 768px) {
    width: 80%;
  }
}

/* --- Text styles --- */

#caption-wrapper {
  font-family: 'Varela Round', sans-serif;
  font-size: 1em;
  line-height: 1.3;
  color: #37393d;
}

.highlight {
  color: orange;
}

#caption-wrapper span:hover {
  cursor: pointer;
  color: lighten(#37393d, 20%);
}

#caption-wrapper span[class*="highlight"]:hover {
  color: lighten(orange, 20%);
}

/* --- Media Player --- */

.mejs__controls,
.mejs__controls:not([style*="display: none"]) {
  background: rgba(55,57,61,.9);
}

.mejs__time-current {
  background: rgba(145, 255, 171, 0.9);
}
